body {
    background-color: #FFEBCD;
    display: flex;
    flex-direction: row;
}

.table-container {
    width: 250%; /* Ширина таблицы */
    margin-left: 10px; /* Отступ слева */
}

.filters-container {
    width: 30%; /* Ширина контейнера с фильтрами */
    margin-left: 10px; /* Отступ слева */
}

h3 {
    margin-top: 80px; /* Увеличиваем отступ сверху */
    margin-bottom: 10px; /* Отступ снизу */
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    margin-right: 250px
}

table {
    border-collapse: collapse;
    width: 100%; /* Растягиваем таблицу на всю ширину контейнера */
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #FFA500;
    color: white;
}

.filter-label {
    font-size: 12px; /* Размер текста названий фильтров */
    margin-bottom: 5px;
    display: block;
}

.filter-input {
    margin-bottom: 5px; /* Отступ между полями ввода */
    width: 100%; /* Ширина поля ввода, занимающая всю доступную ширину */
    font-size: 12px; /* Размер текста в полях ввода */
}

.submit-button, .create-button {
    width: 100%; /* Ширина кнопок, занимающая всю доступную ширину */
    font-size: 12px; /* Размер текста на кнопках */
    margin-top: 5px; /* Отступ между кнопками и полями ввода */
    background-color: #4CAF50; /* Зеленый цвет кнопок */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 3px;
}