<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Cargo</title>
</head>
<body>
<form th:action="@{|/cargo/${cargo.id}/update|}" enctype="multipart/form-data" method="post">
    <label for="date">Date:
        <input id="date" type="date" name="loadDate" th:value="${cargo.loadDate}">
    </label><br>
    <br>
    <div>
        <label for="countryLoad">Loading country:
            <select id="countryLoad" name="countryLoad">
                <option th:each="countryLoading : ${country}"
                        th:value="${countryLoading.id}"
                        th:selected="${countryLoading.id == cargo.countryLoad.id}"
                        th:text="${countryLoading.countryName}">Loading country
                </option>
            </select>
        </label>
    </div>
    <div>
        <label for="citiLoad">Loading city
            <select id="citiLoad" name="cityLoad">
                <option th:each="cityLoading : ${city}"
                        th:value="${cityLoading.id()}"
                        th:selected="${cityLoading.id() == cargo.cityLoad.id()}"
                        th:text="${cityLoading.name()}">Loading city
                </option>
            </select>
        </label>
    </div>
    <div>
        <label for="countryUnload">Unloading country
            <select id="countryUnload" name="countryUnload">
                <option th:each="countryUnload : ${country}"
                        th:value="${countryUnload.id()}"
                        th:selected="${countryUnload.id() == cargo.countryUnload.id()}"
                        th:text="${countryUnload.countryName()}">Unloading country
                </option>
            </select>
        </label>
    </div>
    <div>
        <label for="cityUnload">Unloading city
            <select id="cityUnload" name="cityUnload">
                <option th:each="cityUnload : ${city}"
                        th:value="${cityUnload.id()}"
                        th:selected="${cityUnload.id() == cargo.cityUnload.id()}"
                        th:text="${cityUnload.name()}">Unloading city
                </option>
            </select>
        </label>
    </div>
    <div>
        <label for="transport">Kind of transport
            <select id="transport" name="kindOfTransport">
                <option th:each="transportName : ${transport}"
                        th:value="${transportName.id()}"
                        th:selected="${transportName.id() == cargo.kindOfTransport.id()}"
                        th:text="${transportName.name()}">Kind of transport
                </option>
            </select>
        </label>
    </div>
    <label for="cargoName">Description of cargo:
        <input id="cargoName" type="text" name="nameOfLoad" th:value="${cargo.nameOfLoad}">
    </label><br>
    <br>
    <label for="price">Freight rate:
        <input id="price" type="text" name="price" th:value="${cargo.price}">
    </label><br>
    <br>
    <button type="submit">Update loading</button>
</form>
</body>
</html>